fastapi
uvicorn
sqlalchemy[asyncio]
alembic
alembic-postgresql-enum
psycopg
asyncpg
aiosqlite
uuid-utils
slowapi
python-decouple
pyjwt
argon2-cffi
python-multipart
email-validator
colorlog
chacc-dependency-manager
redis