fastapi
uvicorn
sqlalchemy
alembic
alembic-postgresql-enum
psycopg2-binary
uuid-utils
slowapi
python-decouple
pyjwt
argon2-cffi
python-multipart
email-validator
colorlog
chacc-dependency-manager
redis